body {
	background-color: LightGray;
}
/*div {
	border: 1px solid blue;
	height: 10px;
	width: 32px;


}
*/
.content {
	border: 1px solid blue;
	height: 10px;
	width: 50%;
}
#contentid {
	border: 1px solid red;
	height: 20px;
}
.different {
	border: 3px solid blue;
	height: 20px;
	width: 70%;
}